.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}



[class*="col-"] {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eee;
  min-height: 10px;
}



hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*----------------------------------------------------
Created by Hardeep Asrani
Don't remove credits and you're free to use this
Blog - hardeepasrani.blogspot.com
Download This At - css-box.blogspot.com
----------------------------------------------------*/


span.start {
	color:white;
	font-size:2em;

}

.credits {
	color:white;
	text-align:right;
	text-decoration:none;
	font-weight: bold;
}


.metro-surface{
	padding: 40px 0px 0px 0px;
}


.metro-tile {
	background-color: #D8512B;
	border-color: #DC6241;
	width: 232px;
	height: 104px;
	padding: 5px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 12px;
	border-width: 3px;
	border-style: solid;
	cursor: default;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
        float:left;
}


.metro-tile-small {
        margin: 0px;
        padding: 0px;
	width: 146px;
	height: 150px;
}
.metro-tile-medium {
        margin: 0px;
        padding: 0px;
	width: 280px;
	height: 150px;
}




.metro-tile-store {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Store.png);
	background-color: #2878EC;
	border-color: #2878EC;
}


.metro-tile-xbox {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/XBox.png);
	background-position: 8px 8px;
        background-color:#6CB71E;
        border-color:#6CB71E;
}


.metro-tile-google {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Google.png);
	background-color: #009719;
	border-color: #009719;
}


.metro-tile-angrybirds {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AngryBirds.jpg);
        border-image: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AngryBirds.jpg) 1;
}


.metro-tile-music {
	background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Music.png');
        background-color: #D8512B;
	border-color: #D8512B;
}


.metro-tile-ie {
	background: url('https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/IE.png');
        background-color: #2878EC;
	border-color: #2878EC;
}


.metro-tile-image {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Image.jpg);
	border-color: black;
}


.metro-tile-tweet {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Tweet.png);
	background-color: #2878EC;
	border-color: #2878EC;
}


.metro-tile-msg {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Messaging.png);
	background-color: #2878EC;
	border-color: #2878EC;
}


.metro-tile-player {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Gangnam.jpg);
	border-color: black;
}


.metro-tile-facebook {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Facebook.png);
	background-color: #3B5998;
	border-color: #3B5998;
}


.metro-tile-twitter {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Twitter.png);
	background-color: #2878EC;
	background-position: 0 10px;
	border-color: #2878EC;
}


.metro-tile-aciii {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/AC3.jpg);
	border-color: black;
}


.metro-tile-gmail {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Gmail.png);
	background-color: #009719;
	border-color: #009719;
}


.metro-tile-dropbox {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Dropbox.png);
	background-color: #2878EC;
	border-color: #2878EC;
}


.metro-tile-blogger {
	background: url(https://cssbox.googlecode.com/svn/demo/Windows8MetroTiles/img/Blogger.png);
	background-color: #D8512B;
	border-color: #D8512B;
}


div.metro-tile:hover {
	-webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
}

.myMetroTile-subpages{
    width:50%;
    float:left;
    padding:0px;
    height:150px; 
    	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
}

.myMetroTile-SubjectsBoxLarge{
    width:50%;
    float:left;
    padding:0px;
    	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
}
.myMetroTile-SubjectsBoxMedium{
    width:25%;
    float:left;
    padding:0px;
    	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-ms-transition: 0.1s all;
	transition: 0.1s all;
}

div.myMetroTile-subpages:hover,
div.myMetroTile-SubjectsBoxMedium:hover,
div.myMetroTile-SubjectsBoxLarge:hover {
	-webkit-transform: scale(0.95) perspective(400px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.95) perspective(400px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.95) perspective(400px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.95) perspective(400px) rotateY(0deg) rotateX(0deg);
}


.tileBox {
    height:150px; width: 100%;float:left;
}